.cell {
  margin: 2px;
  width: 2em;
  height: 2em;
  text-align: center;
  border: 1px solid var(--bs-dark);
  background-color: var(--bs-gray);
  cursor: pointer;
}

.dug {
  background-color: var(--bs-light);
}

.exploded {
  background-color: var(--bs-red);
  color: var(--bs-white);
}

.result {
  font-size: 130%;
}

.lose {
  color: var(--bs-red);
}
