.cell {
  margin: 2px;
  width: 2em;
  height: 2em;
  text-align: center;
  border: 1px solid var(--dark);
  background-color: var(--gray);
  cursor: pointer;
}

.dug {
  background-color: var(--light);
}

.exploded {
  background-color: var(--red);
  color: var(--white);
}

.result {
  font-size: 130%;
}

.lose {
  color: var(--red);
}
